<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="PublicTransportCS" connectionString="Data Source=(localdb)\ProjectsV13;Initial Catalog=&quot;Public transport &quot;;Integrated Security=True;Connect Timeout=15;Encrypt=False;TrustServerCertificate=True;ApplicationIntent=ReadWrite;MultiSubnetFailover=False" providerName="System.Data.SqlClient" />
    <add name="RouteDBContext" connectionString="metadata=res://*/RoutesBusesModel.csdl|res://*/RoutesBusesModel.ssdl|res://*/RoutesBusesModel.msl;provider=System.Data.SqlClient;provider connection string='data source=(localdb)\ProjectsV13;initial catalog=&quot;Public transport&quot;;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework'" providerName="System.Data.EntityClient" />
    <add name="RoutesDBContext" connectionString="metadata=res://*/RoutesModel.csdl|res://*/RoutesModel.ssdl|res://*/RoutesModel.msl;provider=System.Data.SqlClient;provider connection string='data source=(localdb)\ProjectsV13;initial catalog=&quot;Public transport&quot;;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework'" providerName="System.Data.EntityClient" />
    <add name="Public_transportEntities" connectionString="metadata=res://*/RoutesModel.csdl|res://*/RoutesModel.ssdl|res://*/RoutesModel.msl;provider=System.Data.SqlClient;provider connection string='data source=(localdb)\ProjectsV13;initial catalog=&quot;Public transport&quot;;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework'" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>